/* ---------------------------------- CART ---------------------------------- */


.cart {
    position: relative;
}

.search .cart span {
    position: absolute;
    top:-8px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: coral;
    font-size: .8rem;
    color: #ffffff;
}

.icon-circle {
    font-size: 1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #E6DDC6;
    text-align: center;
    border-radius: 50%;
}