/* --------------------------------- FOOTER --------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    background-color: #A19882;
    padding: 10px;
    color: #FEF7DC;
}