/* -------------------------------- LANDING PAGE ------------------------------- */

.heroImg {
    background: url(../assets/headerBackGroundImg.jpg) no-repeat top;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTitle {
    font-family: 'Old Standard TT', serif;
    font-size: 9rem;
    text-align: center;
    text-transform: uppercase;
}

.heroSubtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    margin: -2rem 0 0;
    letter-spacing: 0.5rem;
    font-weight: 700;
    text-align: center;
    display: block;
}

.bookNow {
    margin-top: 15px;
    border: 2px solid black;
    padding: 10px;
    text-transform: uppercase;
    &:hover {
        color: #A19882;
    }
}
